<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<p> Xin chào, </p>
<p> Bạn vừa gửi yêu cầu khôi phục lại mật khẩu. Chúng tôi gửi bạn mã xác thực để thay đổi mật khẩu. </p>
<h2 th:text="${'Mã xác thực để thay đổi mật khẩu: ' + codePass}"></h2>
<p>Lưu ý: Đây là mã xác thực được tạo bởi hệ thống và chỉ có giá trị trong vòng 15 phút! <br>
Đây là email tự động vui lòng không trả lời.</p>
</body>
</html>